body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: gray;
    height: 640px;
    width: 610px;
    padding: 20px;
}

.input {
    width: 100%;
    height: 50px;
    border: none;
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.top1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.deg {
    align-items: center;
}

button {
    height: 50px;
    width: 40%;
    font-size: large;
}

.btn {
    font-size: medium;
}

.top2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#Trigo {
    font-size: x-large;
}

.deg {
    font-size: x-large;
}

.bottom {
    margin-top: 10px;
}

.bottom1{
    display: flex;
    justify-content: space-between;
}

.btn1 {
    font-size: x-largex;
}